#search{
    position: absolute;
    left:550px;
    top: 15px;
    width: 20%;
    height: 40px;
    z-index: 2;
    size: auto;
    font-size: larger;
    border-radius: 10px;
}
.btn-primary.search-btn{
    position: relative;
    left: 70px;
    top: 1px;
    width: 90px;
    height: 50px;
    z-index: 2;
    size: auto;
    font-size: 22px;
    border-radius: 10px;
}
#result{
    position: absolute;
    display: flex;
    left:500px;
    top: 60px;
    width: 700%;
    height: 90px;
    z-index: 2;
    size: landscape;
    font-size: 12px;
}
.table.search{
    background: white;
    color: black;
    font-size: 19px;
    font-weight: normal;
    width: 150%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;

}


#add-btn{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1550px;
    font-size: 20px;
    top: 0px;
}
#edit-roduct{
    position: absolute;
    width: 160px;
    height: 33px;
    left: 675px;
    top: 0px;
}
.navbar-brand{
    position: absolute;
    left:75px;
    top: 0px;
    width: 300px;
    height: 22px;
    z-index: 10;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: #0f9cf3 !important;

}
.bg-white{
    background-color: #252b3b !important;
}
.card.product-list{
    width: 200%;
    right: 500px;
    height: 100%;
    font-size: 25px;

}
.card.search-result{
    width: 200%;
    right: 500px;
    height: 100%;
    font-size: 25px;
}


.card.category{
    width: 200%;
    right: 500px;
    height: 100%;
    font-size: 25px;
}
#add-btn-category{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1550px;
    font-size: 20px;
    top: 0px;
}

.card.flavors{
    width: 200%;
    right: 500px;
    height: 100%;
    font-size: 25px;
}
#add-btn\ flavors{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1550px;
    font-size: 20px;
    top: 0px;
}

.card.manufact{
    width: 200%;
    right: 500px;
    height: 100%;
    font-size: 25px;
}
#add-btn\ manufac{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1550px;
    font-size: 16px;
    top: 0px;
}

.card.location{
    width: 200%;
    right: 500px;
    height: 100%;
    font-size: 25px;
}
#add-btn-location{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1550px;
    font-size: 16px;
    top: 0px;
}
#import-btn{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 1350px;
    font-size: 20px;
    top: 0px;
}


.container.navbar{
    background-color: black;
}


.nav-item.dropdown{
    position: relative;
    color: white;
    font-weight: normal;
    font-size: 25px;
    left: 300px;
}
#navbarDropdown{
    color: white;
}
.navbar-nav.ms-auto{
    font-size: 25px;
}
#nav-link\ regandlog{
    color: white;
}

.card.show-product{
    width: 100%;
    right: 0px;
    height: 100%;
    font-size: 25px;
}
#edit-roduct{
    width: 160px;
    height: 40px;
    font-size: 20px;
}
.card-header.edit{
    font-size: 20px;
}




